@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.font-family-1{
    font-family: 'Oswald', sans-serif;
}

.body{
    max-width: 31%;
    border-radius: 2%;
    border: 1px;
    margin: 10px 0 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.image{
    width: 100%;
}
.card-title{
    padding: 16px;
}
